In [1]:
import pandas
import csv
df = pandas.read_csv('zv_pcobc.csv', sep = ';')

# Show dataframe
print(df)

          NAZCOBCE    PSC     NAZPOST  KODOKRESU          NAZOKRESU  \
0         Abertamy  36235    Abertamy       3403       Karlovy Vary
1           Adamov  54232       Úpice       3610            Trutnov
2           Adamov  67904    Adamov 1       3701            Blansko
3           Adamov  28601      Čáslav       3205         Kutná Hora
4           Adamov  37371    Rudolfov       3301   České Budějovice
...            ...    ...         ...        ...                ...
16213   Zvoleněves  27325  Zvoleněves       3203             Kladno
16214  Zvolenovice  58856        Telč       3707            Jihlava
16215    Zvonovice  68201    Vyškov 1       3712             Vyškov
16216      Zvotoky  38716    Volenice       3307         Strakonice
16217        Zvůle  37853    Strmilov       3303  Jindřichův Hradec

                   NAZOBCE
0                 Abertamy
1                  Trutnov
2                   Adamov
3                   Adamov
4                   Adamov
...                    ...
16213           Zvoleněves
16214          Zvolenovice
16215  Rostěnice-Zvonovice
16216              Zvotoky
16217               Kunžak

[16218 rows x 6 columns]

In [2]:
#měním PSČ na string o správném formátu, vybírám a měním názvy sloupců
PSC_string = []
for item in df['PSC']:
    string_psc = str(item)
    string_psc = string_psc[:3] + " " + string_psc[3:]
    PSC_string.append(string_psc)
df['PSC_STRING'] = PSC_string
df.rename(columns = {'NAZOBCE':'obec', 'NAZOKRESU':'okres', 'PSC':'stare_psc', 'PSC_STRING':'PSC'}, inplace=True)

In [3]:
print(df)

          NAZCOBCE  stare_psc     NAZPOST  KODOKRESU              okres  \
0         Abertamy      36235    Abertamy       3403       Karlovy Vary
1           Adamov      54232       Úpice       3610            Trutnov
2           Adamov      67904    Adamov 1       3701            Blansko
3           Adamov      28601      Čáslav       3205         Kutná Hora
4           Adamov      37371    Rudolfov       3301   České Budějovice
...            ...        ...         ...        ...                ...
16213   Zvoleněves      27325  Zvoleněves       3203             Kladno
16214  Zvolenovice      58856        Telč       3707            Jihlava
16215    Zvonovice      68201    Vyškov 1       3712             Vyškov
16216      Zvotoky      38716    Volenice       3307         Strakonice
16217        Zvůle      37853    Strmilov       3303  Jindřichův Hradec

                      obec     PSC
0                 Abertamy  362 35
1                  Trutnov  542 32
2                   Adamov  679 04
3                   Adamov  286 01
4                   Adamov  373 71
...                    ...     ...
16213           Zvoleněves  273 25
16214          Zvolenovice  588 56
16215  Rostěnice-Zvonovice  682 01
16216              Zvotoky  387 16
16217               Kunžak  378 53

[16218 rows x 7 columns]

In [4]:
# vytvářím tabulku z vybraných sloupců, mažu duplicity
vazba_obec_psc_okres = df[["PSC", "obec", "okres"]]
vazba_obec_psc_okres = vazba_obec_psc_okres.drop_duplicates()
vazba_obec_psc_okres

          PSC         obec             okres
0      362 35     Abertamy      Karlovy Vary
1      542 32      Trutnov           Trutnov
2      679 04       Adamov           Blansko
3      286 01       Adamov        Kutná Hora
4      373 71       Adamov  České Budějovice
...       ...          ...               ...
16209  789 01        Zvole           Šumperk
16212  592 56        Zvole  Žďár nad Sázavou
16213  273 25   Zvoleněves            Kladno
16214  588 56  Zvolenovice           Jihlava
16216  387 16      Zvotoky        Strakonice

[7885 rows x 3 columns]

In [5]:
#ukládám do csv
vazba_obec_psc_okres.to_csv('vazba_obec_psc_okres.csv', index = None)