In [42]:
import pandas as pd

In [43]:
skoly = ['skoly_Jihomoravsky_final.csv', 'skoly_Karlovarsky_final.csv', 'skoly_Kralovehradecky_final.csv', 'skoly_Liberecky_final.csv', 'skoly_Moravskoslezsky_final.csv', 'skoly_Olomoucky_final.csv', 'skoly_Pardubicky_final.csv', 'skoly_Plzensky_final.csv', 'skoly_Praha_final.csv', 'skoly_Stredocesky_final.csv', 'skoly_Ustecky_final.csv', 'skoly_Vysocina_final.csv', 'skoly_Zlinsky_final.csv']
skoly_vsechny_kraje = pd.read_csv('skoly_Jihocesky_final.csv', encoding='utf-8')
for skola in skoly:
    kraj = pd.read_csv(skola, encoding='utf-8')
    skoly_vsechny_kraje = pd.concat([final, kraj])

In [44]:
skoly_vsechny_kraje['kraj'].unique()

array(['Jihočeský kraj', 'Jihomoravský kraj', 'Karlovarský kraj',
       'Královéhradecký kraj', 'Liberecký kraj', 'Moravskoslezský kraj',
       'Olomoucký kraj', 'Pardubický kraj', 'Plzeňský kraj',
       'Hlavní město Praha', 'Středočeský kraj', 'Ústecký kraj',
       'Kraj Vysočina', 'Zlínský kraj'], dtype=object)

In [55]:
len(skoly_vsechny_kraje['kraj'].unique())

14

In [47]:
skoly_vsechny_kraje['obor_kapacita'].mask(skoly_vsechny_kraje['obor_kapacita'] == 'neuvádí se', '', inplace=True)

In [49]:
skoly_vsechny_kraje['obor_kapacita'].unique()

array([297, 255, 30, 85, 480, 45, 180, 150, 110, 100, 132, 60, 90, 36,
       240, 75, 130, 48, 174, 128, 260, 120, 160, 290, 125, 360, 28, 136,
       96, 384, 256, 264, 50, 105, 190, 25, 300, 24, 220, 340, 20, 15, 12,
       14, 32, 40, 10, 72, 126, 406, 375, 512, 630, 420, 920, 448, 94, 52,
       124, 140, 590, 250, 500, 196, 272, 230, 390, 165, 600, 80, 370,
       408, 66, 225, 200, 102, 42, 612, 640, 308, 64, 248, 204, 280, 7, 8,
       18, 70, 135, 123, 320, 440, 210, 380, 305, 35, 176, 376, 170, 138,
       89, 270, 621, 22, 21, 51, 145, 275, 116, 528, 400, 540, 131, 465,
       191, 396, 134, 510, 840, 398, 292, 76, 68, 245, 235, 0, 254, 372,
       705, 232, 192, 246, 450, 155, 330, 108, '330', '260', '200', '272',
       '120', '132', '320', '485', '240', '220', '400', '300', '170',
       '130', '450', '125', '124', '230', '80', '225', '165', '128',
       '136', '', '480', 356, 358, 544, 460, '250', '310', '180', '540',
       '70', '420', '364', '435', '640', '800', '650', '816', '145',
       '252', '528', '88', '140', '510', '720', '350', '402', '110',
       '290', '90', '365', '520', '600', '370', '670', '390', '490',
       '208', '410', '570', '440', '215', '288', '40', '185', '135',
       '150', '256', '270', '550', '50', '34', '580', '360', '84', '100',
       '160', '312', '30', '138', '97', 363, 382, 410, 485, 520, 285, 122,
       242, 62, 84, '265', '395', '92', '118', '56', '335', '327', '355',
       '60'], dtype=object)

In [51]:
skoly_vsechny_kraje[skoly_vsechny_kraje['obor_kapacita'] == 0]

,id,nazev,typ,adresa1,adresa2,adresa3,PSC,obec,kraj,obor_kod,obor_nazev,obor_forma,obor_delka,obor_kapacita,okres
94,200000063,Střední škola,C00,Pionýrů 2069,Místek,738 01 Frýdek-Místek,738 01,Frýdek-Místek,Moravskoslezský kraj,3908M001,Požární ochrana,10,40,0,Frýdek-Místek

In [31]:
pd.set_option('display.max_rows', None)

In [54]:
skoly_vsechny_kraje.to_csv('skoly_vsechny_kraje.csv', index=None)