In [150]:
import pandas
import csv
import io

with io.open('zv_pcobc.csv') as vstup:
    obsah = vstup.readlines()

obsah = [string.replace(";", ",").replace("\n", "") for string in obsah]
obsah = [string.split(",") for string in obsah]
df = pandas.DataFrame(data=obsah)
df

,0,1,2,3,4,5
0,NAZCOBCE,PSC,NAZPOST,KODOKRESU,NAZOKRESU,NAZOBCE
1,Abertamy,36235,Abertamy,3403,Karlovy Vary,Abertamy
2,Adamov,54232,Úpice,3610,Trutnov,Trutnov
3,Adamov,67904,Adamov 1,3701,Blansko,Adamov
4,Adamov,28601,Čáslav,3205,Kutná Hora,Adamov
...,...,...,...,...,...,...
16214,Zvoleněves,27325,Zvoleněves,3203,Kladno,Zvoleněves
16215,Zvolenovice,58856,Telč,3707,Jihlava,Zvolenovice
16216,Zvonovice,68201,Vyškov 1,3712,Vyškov,Rostěnice-Zvonovice
16217,Zvotoky,38716,Volenice,3307,Strakonice,Zvotoky
16218,Zvůle,37853,Strmilov,3303,Jindřichův Hradec,Kunžak

In [151]:
df.rename(columns = {0:'cast_obce', 1:'PSC', 2:'nazpost', 3:'kod_okresu', 4:'okres', 5:'obec'}, inplace=True)
df

,cast_obce,PSC,nazpost,kod_okresu,okres,obec
0,NAZCOBCE,PSC,NAZPOST,KODOKRESU,NAZOKRESU,NAZOBCE
1,Abertamy,36235,Abertamy,3403,Karlovy Vary,Abertamy
2,Adamov,54232,Úpice,3610,Trutnov,Trutnov
3,Adamov,67904,Adamov 1,3701,Blansko,Adamov
4,Adamov,28601,Čáslav,3205,Kutná Hora,Adamov
...,...,...,...,...,...,...
16214,Zvoleněves,27325,Zvoleněves,3203,Kladno,Zvoleněves
16215,Zvolenovice,58856,Telč,3707,Jihlava,Zvolenovice
16216,Zvonovice,68201,Vyškov 1,3712,Vyškov,Rostěnice-Zvonovice
16217,Zvotoky,38716,Volenice,3307,Strakonice,Zvotoky
16218,Zvůle,37853,Strmilov,3303,Jindřichův Hradec,Kunžak

In [152]:
df = df[1:]
df

,cast_obce,PSC,nazpost,kod_okresu,okres,obec
1,Abertamy,36235,Abertamy,3403,Karlovy Vary,Abertamy
2,Adamov,54232,Úpice,3610,Trutnov,Trutnov
3,Adamov,67904,Adamov 1,3701,Blansko,Adamov
4,Adamov,28601,Čáslav,3205,Kutná Hora,Adamov
5,Adamov,37371,Rudolfov,3301,České Budějovice,Adamov
...,...,...,...,...,...,...
16214,Zvoleněves,27325,Zvoleněves,3203,Kladno,Zvoleněves
16215,Zvolenovice,58856,Telč,3707,Jihlava,Zvolenovice
16216,Zvonovice,68201,Vyškov 1,3712,Vyškov,Rostěnice-Zvonovice
16217,Zvotoky,38716,Volenice,3307,Strakonice,Zvotoky
16218,Zvůle,37853,Strmilov,3303,Jindřichův Hradec,Kunžak

In [153]:
df['PSC'].unique()

array(['36235', '54232', '67904', ..., '53836', '25705', '59256'],
      dtype=object)

In [154]:
len(df['PSC'].unique())

2677

In [181]:
len(df['cast_obce'].unique())

11411

In [182]:
len(df['obec'].unique())

5345

In [183]:
len(df['okres'].unique())

77

In [155]:
#měním PSČ na string o správném formátu, vybírám a měním názvy sloupců

PSC_string = []
for item in df['PSC']:
    string_psc = str(item)
    string_psc = string_psc[:3] + " " + string_psc[3:]
    PSC_string.append(string_psc)
df['PSC_string'] = PSC_string
df

C:\Users\helen\AppData\Local\Temp\ipykernel_6560\3580776015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PSC_string'] = PSC_string

,cast_obce,PSC,nazpost,kod_okresu,okres,obec,PSC_string
1,Abertamy,36235,Abertamy,3403,Karlovy Vary,Abertamy,362 35
2,Adamov,54232,Úpice,3610,Trutnov,Trutnov,542 32
3,Adamov,67904,Adamov 1,3701,Blansko,Adamov,679 04
4,Adamov,28601,Čáslav,3205,Kutná Hora,Adamov,286 01
5,Adamov,37371,Rudolfov,3301,České Budějovice,Adamov,373 71
...,...,...,...,...,...,...,...
16214,Zvoleněves,27325,Zvoleněves,3203,Kladno,Zvoleněves,273 25
16215,Zvolenovice,58856,Telč,3707,Jihlava,Zvolenovice,588 56
16216,Zvonovice,68201,Vyškov 1,3712,Vyškov,Rostěnice-Zvonovice,682 01
16217,Zvotoky,38716,Volenice,3307,Strakonice,Zvotoky,387 16
16218,Zvůle,37853,Strmilov,3303,Jindřichův Hradec,Kunžak,378 53

In [156]:
pandas.reset_option('display.max_rows')

In [157]:
df['okres'].unique()

array(['Karlovy Vary', 'Trutnov', 'Blansko', 'Kutná Hora',
       'České Budějovice', 'Jeseník', 'Jindřichův Hradec', 'Benešov',
       'Klatovy', 'Strakonice', 'Liberec', 'Žďár nad Sázavou',
       'Ústí nad Orlicí', 'Karviná', 'Rychnov nad Kněžnou', 'Písek',
       'Bruntál', 'Jablonec nad Nisou', 'Nový Jičín', 'Prachatice',
       'Cheb', 'Tábor', 'Brno-venkov', 'Prostějov', 'Sokolov', 'Přerov',
       'Jihlava', 'Pelhřimov', 'Ostrava-město', 'Hodonín', 'Olomouc',
       'Děčín', 'Jičín', 'Česká Lípa', 'Ústí nad Labem', 'Náchod',
       'Vsetín', 'Plzeň-jih', 'Třebíč', 'Praha-východ', 'Hradec Králové',
       'Havlíčkův Brod', 'Domažlice', 'Uherské Hradiště', 'Plzeň-sever',
       'Kladno', 'Mladá Boleslav', 'Svitavy', 'Znojmo', 'Pardubice',
       'Kolín', 'Kroměříž', 'Šumperk', 'Frýdek-Místek', 'Břeclav',
       'Beroun', 'Rakovník', 'Litoměřice', 'Hlavní město Praha',
       'Chomutov', 'Most', 'Louny', 'Teplice', 'Chrudim', 'Opava',
       'Semily', 'Český Krumlov', 'Příbram', 'Zlín', 'Nymburk', 'Tachov',
       'Rokycany', 'Vyškov', 'Praha-západ', 'Brno-město', 'Plzeň-město',
       'Mělník'], dtype=object)

In [158]:
len(df['okres'].unique())

# 76 + Hlavní město Praha = 77

77

In [159]:
df[df['okres'].str.contains('Praha', regex=True)]

# => potřebuju smazat řádky, kde je okres Hlavní město Praha, a nahradit je Praha 1-10

,cast_obce,PSC,nazpost,kod_okresu,okres,obec,PSC_string
78,Babice,25101,Říčany u Prahy,3209,Praha-východ,Babice,251 01
135,Bašť,25085,Bašť,3209,Praha-východ,Bašť,250 85
154,Běchovice,19011,Praha 911,3100,Hlavní město Praha,Praha,190 11
257,Benice,10300,Praha 113,3100,Hlavní město Praha,Praha,103 00
549,Bohnice (část),18100,Praha 81,3100,Hlavní město Praha,Praha,181 00
...,...,...,...,...,...,...,...
16142,Zličín (část),15500,Praha 515,3100,Hlavní město Praha,Praha,155 00
16143,Zličín (část),15521,Praha 517,3100,Hlavní město Praha,Praha,155 21
16156,Zlonín,25064,Měšice u Prahy,3209,Praha-východ,Zlonín,250 64
16191,Zvánovice,25165,Ondřejov,3209,Praha-východ,Zvánovice,251 65
16212,Zvole,25245,Zvole u Prahy,3210,Praha-západ,Zvole,252 45

In [160]:
indexy_hmp = df.index[df['okres'] == 'Hlavní město Praha'].tolist()
indexy_hmp

[154,
 257,
 549,
 550,
 831,
 832,
 833,
 912,
 913,
 965,
 1179,
 1180,
 1411,
 1642,
 1937,
 1938,
 1939,
 1953,
 2221,
 2222,
 2297,
 2412,
 2413,
 2414,
 2704,
 2805,
 2806,
 2807,
 2837,
 3189,
 3418,
 3426,
 3631,
 3632,
 3637,
 3638,
 3639,
 3718,
 3719,
 3766,
 3767,
 3801,
 4025,
 4026,
 4059,
 4060,
 4061,
 4211,
 4246,
 4247,
 4314,
 4315,
 4316,
 4317,
 4438,
 5054,
 5055,
 5056,
 5120,
 5260,
 5261,
 5295,
 5377,
 5432,
 5605,
 5606,
 5709,
 5717,
 5747,
 5853,
 5854,
 6072,
 6162,
 6163,
 6164,
 6245,
 6449,
 6521,
 6570,
 6757,
 6758,
 6877,
 6878,
 6925,
 6926,
 6927,
 7013,
 7014,
 7015,
 7045,
 7088,
 7092,
 7093,
 7264,
 7531,
 7570,
 7593,
 7594,
 7637,
 7638,
 7639,
 7976,
 7977,
 7978,
 7979,
 8137,
 8268,
 8394,
 8395,
 8612,
 8658,
 9085,
 9086,
 9087,
 9088,
 9227,
 9228,
 10006,
 10084,
 10098,
 10364,
 10365,
 10708,
 10881,
 11114,
 11115,
 11170,
 11171,
 11364,
 11367,
 11368,
 11689,
 11820,
 11838,
 11868,
 12330,
 12375,
 12478,
 12714,
 12851,
 12852,
 12853,
 12894,
 12895,
 12966,
 12967,
 12968,
 12969,
 13030,
 13031,
 13032,
 13079,
 13080,
 13081,
 13210,
 13673,
 13764,
 13765,
 13768,
 13853,
 13854,
 13855,
 14069,
 14121,
 14136,
 14404,
 14439,
 14778,
 14779,
 14780,
 14781,
 14782,
 14783,
 14784,
 15026,
 15216,
 15217,
 15218,
 15311,
 15338,
 15339,
 15340,
 15416,
 15417,
 15418,
 15476,
 15785,
 16105,
 16106,
 16107,
 16142,
 16143]

In [161]:
df_bez_hmp = df.drop(indexy_hmp)
df_bez_hmp

,cast_obce,PSC,nazpost,kod_okresu,okres,obec,PSC_string
1,Abertamy,36235,Abertamy,3403,Karlovy Vary,Abertamy,362 35
2,Adamov,54232,Úpice,3610,Trutnov,Trutnov,542 32
3,Adamov,67904,Adamov 1,3701,Blansko,Adamov,679 04
4,Adamov,28601,Čáslav,3205,Kutná Hora,Adamov,286 01
5,Adamov,37371,Rudolfov,3301,České Budějovice,Adamov,373 71
...,...,...,...,...,...,...,...
16214,Zvoleněves,27325,Zvoleněves,3203,Kladno,Zvoleněves,273 25
16215,Zvolenovice,58856,Telč,3707,Jihlava,Zvolenovice,588 56
16216,Zvonovice,68201,Vyškov 1,3712,Vyškov,Rostěnice-Zvonovice,682 01
16217,Zvotoky,38716,Volenice,3307,Strakonice,Zvotoky,387 16
16218,Zvůle,37853,Strmilov,3303,Jindřichův Hradec,Kunžak,378 53

In [162]:
# kontrola => zůstává P-východ a P-západ

df_bez_hmp[df_bez_hmp['okres'].str.contains('Praha', regex=True)]

,cast_obce,PSC,nazpost,kod_okresu,okres,obec,PSC_string
78,Babice,25101,Říčany u Prahy,3209,Praha-východ,Babice,251 01
135,Bašť,25085,Bašť,3209,Praha-východ,Bašť,250 85
560,Bohuliby,25401,Jílové u Prahy,3210,Praha-západ,Petrov,254 01
610,Bojanovice,25206,Davle,3210,Praha-západ,Bojanovice,252 06
621,Bojov,25210,Mníšek pod Brdy,3210,Praha-západ,Čisovice,252 10
...,...,...,...,...,...,...,...
16118,Zlatá,25083,Škvorec,3209,Praha-východ,Zlatá,250 83
16128,Zlatníky,25241,Dolní Břežany,3210,Praha-západ,Zlatníky-Hodkovice,252 41
16156,Zlonín,25064,Měšice u Prahy,3209,Praha-východ,Zlonín,250 64
16191,Zvánovice,25165,Ondřejov,3209,Praha-východ,Zvánovice,251 65
16212,Zvole,25245,Zvole u Prahy,3210,Praha-západ,Zvole,252 45

In [163]:
df_praha = pandas.DataFrame([['110 00', 'Praha 1', 'Praha 1'],
                            ['120 00', 'Praha 2', 'Praha 2'],
                            ['130 00', 'Praha 3', 'Praha 3'],
                            ['140 00', 'Praha 4', 'Praha 4'],
                            ['150 00', 'Praha 5', 'Praha 5'],
                            ['160 00', 'Praha 6', 'Praha 6'],
                            ['170 00', 'Praha 7', 'Praha 7'],
                            ['180 00', 'Praha 8', 'Praha 8'],
                            ['190 00', 'Praha 9', 'Praha 9'],
                            ['100 00', 'Praha 10', 'Praha 10']], 
                            columns=['PSC_string', 'obec', 'okres'])
df_praha

  PSC_string      obec     okres
0     110 00   Praha 1   Praha 1
1     120 00   Praha 2   Praha 2
2     130 00   Praha 3   Praha 3
3     140 00   Praha 4   Praha 4
4     150 00   Praha 5   Praha 5
5     160 00   Praha 6   Praha 6
6     170 00   Praha 7   Praha 7
7     180 00   Praha 8   Praha 8
8     190 00   Praha 9   Praha 9
9     100 00  Praha 10  Praha 10

In [164]:
df_bez_hmp = df_bez_hmp[['PSC_string', 'obec', 'okres']]

In [165]:
df_psc_obec_okres = pandas.concat([df_bez_hmp, df_praha])
df_psc_obec_okres

   PSC_string      obec             okres
1      362 35  Abertamy      Karlovy Vary
2      542 32   Trutnov           Trutnov
3      679 04    Adamov           Blansko
4      286 01    Adamov        Kutná Hora
5      373 71    Adamov  České Budějovice
..        ...       ...               ...
5      160 00   Praha 6           Praha 6
6      170 00   Praha 7           Praha 7
7      180 00   Praha 8           Praha 8
8      190 00   Praha 9           Praha 9
9      100 00  Praha 10          Praha 10

[16036 rows x 3 columns]

In [166]:
df_psc_obec_okres['okres'].unique()

array(['Karlovy Vary', 'Trutnov', 'Blansko', 'Kutná Hora',
       'České Budějovice', 'Jeseník', 'Jindřichův Hradec', 'Benešov',
       'Klatovy', 'Strakonice', 'Liberec', 'Žďár nad Sázavou',
       'Ústí nad Orlicí', 'Karviná', 'Rychnov nad Kněžnou', 'Písek',
       'Bruntál', 'Jablonec nad Nisou', 'Nový Jičín', 'Prachatice',
       'Cheb', 'Tábor', 'Brno-venkov', 'Prostějov', 'Sokolov', 'Přerov',
       'Jihlava', 'Pelhřimov', 'Ostrava-město', 'Hodonín', 'Olomouc',
       'Děčín', 'Jičín', 'Česká Lípa', 'Ústí nad Labem', 'Náchod',
       'Vsetín', 'Plzeň-jih', 'Třebíč', 'Praha-východ', 'Hradec Králové',
       'Havlíčkův Brod', 'Domažlice', 'Uherské Hradiště', 'Plzeň-sever',
       'Kladno', 'Mladá Boleslav', 'Svitavy', 'Znojmo', 'Pardubice',
       'Kolín', 'Kroměříž', 'Šumperk', 'Frýdek-Místek', 'Břeclav',
       'Beroun', 'Rakovník', 'Litoměřice', 'Chomutov', 'Most', 'Louny',
       'Teplice', 'Chrudim', 'Opava', 'Semily', 'Český Krumlov',
       'Příbram', 'Zlín', 'Nymburk', 'Tachov', 'Rokycany', 'Vyškov',
       'Praha-západ', 'Brno-město', 'Plzeň-město', 'Mělník', 'Praha 1',
       'Praha 2', 'Praha 3', 'Praha 4', 'Praha 5', 'Praha 6', 'Praha 7',
       'Praha 8', 'Praha 9', 'Praha 10'], dtype=object)

In [167]:
len(df_psc_obec_okres['okres'].unique())

86

In [169]:
df_psc_obec_okres = df_psc_obec_okres.rename(columns={'PSC_string': 'PSC'})

In [186]:
df_psc_obec_okres = df_psc_obec_okres.drop_duplicates()

In [187]:
df_psc_obec_okres.to_csv('vazba_obec_psc_okres_Helena.csv', index = None)

In [178]:
df_psc_obec_okres[df_psc_obec_okres['obec'] == 'Hodonín']

         PSC     obec    okres
3726  538 25  Hodonín  Chrudim
3727  695 01  Hodonín  Hodonín
3728  679 75  Hodonín  Blansko

In [180]:
len(df_psc_obec_okres['PSC'].unique())

2629

In [184]:
uniky = df_psc_obec_okres.drop_duplicates()
len(uniky)

7834